@import 'partials';
.sec-title{
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    color: $text;
    @media ($sm-1679){
        font-size: 24px;
        line-height: 32px;
    }
    @media ($sm-1481){
        font-size: 22px;
        line-height: 30px;
    }
}
.links{
    text-decoration: none;
    color: $text;
}