@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.header-strip {
  background-color: #101828;
  padding-top: 8px;
  padding-bottom: 7px;
  color: #ffffff;
}
.header-strip .h-strip-row {
  align-items: center;
}
.header-strip .h-strip-menu {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-strip .h-strip-menu {
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
.header-strip .date {
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
}
.header-strip .date .icon {
  margin-right: 6px;
  width: 14px;
}
.header-strip .stip-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
  flex-wrap: wrap;
  color: #ffffff;
}
@media (max-width: 767px) {
  .header-strip .stip-menu {
    margin-top: 15px;
  }
}
@media (max-width: 363px) {
  .header-strip .stip-menu {
    justify-content: center;
  }
}
.header-strip .stip-menu li {
  line-height: 1;
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 16px;
  margin-right: 16px;
  position: relative;
}
.header-strip .stip-menu li + li::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
}
.header-strip .stip-menu a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 479px) {
  .header-strip .stip-menu a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
}
.header-strip .social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .header-strip .social {
    justify-content: center;
  }
}
.header-strip .social li {
  list-style: none;
  padding-right: 8px;
  margin-right: 8px;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
}
.header-strip .social li:last-child {
  padding-right: 0;
}
.header-strip .social li + li {
  position: relative;
}
.header-strip .social li + li::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  margin-right: 8px;
}
.header-strip .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
}

.nav-header-outer {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #D1D5DC;
}
.nav-header-outer .logo {
  width: 75px;
  margin-right: 32px;
}
.nav-header-outer .logo img {
  max-width: 100%;
  display: block;
  max-height: 75px;
}
.nav-header-outer .navbar {
  padding-bottom: 12px;
  padding-top: 7px;
}
.nav-header-outer .navbar .navbar-toggler {
  border-color: #2991FC;
  position: absolute;
  right: 0;
  top: 50%;
  border: none;
}
.nav-header-outer .navbar .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #2991FC;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-header-outer .navbar .navbar-toggler span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}
.nav-header-outer .navbar .navbar-toggler span:nth-of-type(2) {
  opacity: 0;
}
.nav-header-outer .navbar .navbar-toggler span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}
.nav-header-outer .navbar .navbar-toggler[aria-expanded=false] span {
  transform: none;
  opacity: 1;
}
.nav-header-outer .nav-links a {
  color: #1A1A1A;
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  margin-right: 21px;
}
.nav-header-outer .flag-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-right: 1px solid #D1D5DC;
  padding-left: 0;
  margin: 0;
}
.nav-header-outer .flag-list li {
  list-style: none;
  margin-right: 8px;
}
.nav-header-outer .flag-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1A1A;
  text-decoration: none;
}
.nav-header-outer .btn-search {
  width: 16px;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  margin-left: auto;
  background-color: transparent;
}
.nav-header-outer .btn-search img {
  max-width: 16px;
  display: block;
}/*# sourceMappingURL=header.css.map */