@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.page-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.page-outer .headline-top-wrapper {
  width: 100%;
  display: flex;
}
.page-outer .headline-top-wrapper .report-left {
  flex: 1;
  max-width: calc(100% - 342px);
  padding-right: 46px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-outer .headline-top-wrapper .report-left .top-listings {
  display: flex;
}
.page-outer .headline-top-wrapper .report-left .link-wrap {
  text-decoration: none;
}
.page-outer .headline-top-wrapper .report-left .main-column-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D1D5DC;
  padding-right: 32px;
  margin-right: 32px;
  max-width: 56%;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .main-columns {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D1D5DC;
  margin-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .main-columns:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .main-thumb {
  width: 100%;
  margin-bottom: 16px;
  max-width: 555px;
  border: 1px solid #D1D5DC;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .main-thumb img {
  width: 100%;
  max-height: 312px;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .main-title {
  margin-bottom: 16px;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .author-info-bottom {
  display: flex;
  align-items: center;
  margin-top: 47px;
  font-size: 12px;
  color: #364153;
  padding-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .main-column-container .author-info-bottom .dot-spacing {
  width: 1.5px;
  height: 1.5px;
  background-color: #364153;
  border-radius: 50%;
  margin: 0 12px;
  display: inline-block;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing {
  display: flex;
  flex-direction: column;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .link-wrap {
  text-decoration: none;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  border-bottom: 1px solid #D1D5DC;
  padding-bottom: 21px;
  text-decoration: none;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .column-title {
  margin-bottom: 8px;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .side-column-thumb {
  width: 100%;
  height: auto;
  max-height: 188px;
  margin-bottom: 19px;
  border: 1px solid #D1D5DC;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .side-column-thumb img {
  width: 100%;
  max-height: 188px;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .side-column-contents .main-title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .side-column-contents .para-txt {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-outer .headline-top-wrapper .report-left .side-colum-listing .side-column-item .side-column-contents .author-info-bottom {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  color: #364153;
  margin-top: 8px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .sub-title {
  margin-bottom: 40px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-item {
  margin-right: 40px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-item:last-child {
  margin-right: 0;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-link {
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
  transition: all 0.3s ease;
  font-family: "Playfair Display", serif;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-link.active, .page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-link:hover {
  background: transparent;
  border-bottom: 1px solid #155DFC;
  color: #1A1A1A;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .nav-pills.custom-tab .nav-link.active {
  font-weight: 700;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block {
  padding-top: 30px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .headline-row {
  margin-bottom: 30px;
  border-bottom: 1px solid #D1D5DC;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .headline-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .main-columns {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D1D5DC;
  margin-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .main-columns:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .main-thumb {
  width: 100%;
  margin-bottom: 16px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .main-thumb img {
  width: 100%;
  max-height: 312px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .main-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .para-txt {
  font-size: 16px;
  line-height: 27px;
  color: #364153;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .author-info-bottom {
  display: flex;
  align-items: center;
  margin-top: 18px;
  font-size: 12px;
  color: #364153;
  padding-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block .author-info-bottom .dot-spacing {
  width: 1.5px;
  height: 1.5px;
  background-color: #364153;
  border-radius: 50%;
  margin: 0 12px;
  display: inline-block;
}
.page-outer .headline-top-wrapper .report-left .tab-listing-wrapper .tab-pane .tab-listing-block hr.line {
  margin-bottom: 34px;
  margin-top: 0;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper {
  width: 100%;
  padding-top: 50px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .title-section {
  border-top: 1px solid #D1D5DC;
  display: flex;
  align-items: center;
  padding: 33px 0 24px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .title-section .sub-title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 8px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .title-section .para-txt {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control {
  margin-left: auto;
  display: flex;
  gap: 12px;
  margin-right: 20px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control button {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control button:hover {
  background-color: #000;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control button:hover img {
  filter: brightness(20.5);
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control button img {
  max-width: 100%;
  display: block;
  transform: rotate(180deg);
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .control button.prev-arrow img {
  transform: rotate(-360deg);
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slider-sec {
  border-top: 1px solid #D1D5DC;
  padding-top: 17px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slider-sec .video-slider .slide {
  padding-right: 23px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-columns {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D1D5DC;
  margin-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-columns .play-btn {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5254901961);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  cursor: pointer;
  filter: blur(1px);
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-columns .play-btn .icon {
  width: 13px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-columns .play-btn .icon img {
  max-width: 100%;
  display: block;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-columns:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-thumb {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #D1D5DC;
  position: relative;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-thumb img {
  width: 100%;
  max-height: 312px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .main-title {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 26px;
}
.page-outer .headline-top-wrapper .report-left .video-slider-wrapper .slide .author-info-bottom {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 12px;
  color: #364153;
  padding-bottom: 30px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper {
  background: linear-gradient(135deg, #EFF6FF 0%, rgba(248, 250, 252, 0.5) 50%, rgba(238, 242, 255, 0.4) 100%);
  border-top: 2px solid rgba(21, 93, 252, 0.3019607843);
  border-bottom: 2px solid rgba(21, 93, 252, 0.3019607843);
  padding: 50px 24px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section {
  display: flex;
  border-bottom: 2px solid rgba(20, 71, 230, 0.5019607843);
  padding-bottom: 22px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .left-sec {
  display: flex;
  flex-direction: column;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .left-sec .sub-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #1C398E;
  border-left: 6px solid #155DFC;
  padding-left: 12px;
  margin-bottom: 8px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .left-sec .para-txt {
  padding-left: 20px;
  line-height: 1;
  color: rgba(25, 60, 184, 0.8);
  font-size: 11px;
  margin-bottom: 0;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .ad-btn {
  margin-left: auto;
  background-color: #DBEAFE;
  border-radius: 6px;
  padding: 12px 6px;
  width: 136px;
  height: 29px;
  font-size: 12px;
  font-weight: 700;
  color: #1C398E;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .ad-btn .icon img {
  width: 14px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .title-section .ad-btn .icon {
  margin-right: 8px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing {
  width: calc(33.3333333333% - 30px);
  margin: 0 15px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 246, 255, 0.2) 100%);
  border: 2px solid #BEDBFF;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .thumb-wrapper {
  height: 184px;
  width: 100%;
  position: relative;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .thumb-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .thumb-wrapper .badge {
  background-color: #155DFC;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1019607843);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1019607843);
  border-radius: 0;
  padding: 6px 12px;
  position: absolute;
  left: 12px;
  top: 12px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .btm-content {
  padding: 24px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .content-area .tag {
  color: #1447E6;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .content-area .main-title {
  color: #1A1A1A;
  font-size: 20px;
  line-height: 25px;
  word-break: break-word;
  margin: 12px 0 16px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec {
  display: flex;
  border-top: 2px solid #DBEAFE;
  padding-top: 18px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec .left-content {
  flex: 1;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec .left-content .para-txt {
  color: rgba(20, 71, 230, 0.8);
  margin-bottom: 5px;
  line-height: 1;
  font-size: 10px;
  font-weight: 500;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec .left-content .sub-title {
  color: #1C398E;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec .sec-link {
  margin-left: 10px;
}
.page-outer .headline-top-wrapper .report-left .sponsered-outer-wrapper .sponsor-listing-warpper .sponsor-listing .bottom-sec .sec-link img {
  width: 18px;
}
.page-outer .headline-top-wrapper .side-updates {
  width: 342px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D1D5DC;
  margin-bottom: 13px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.ad-block {
  margin: 40px 0 20px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .side-title {
  font-size: 12px;
  line-height: 1;
  border-bottom: 1px solid #D1D5DC;
  padding: 25px 0 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #1A1A1A;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .side-title .icon {
  display: inline-block;
  width: 15px;
  margin-right: 9px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .side-title .icon img {
  max-width: 15px;
  display: block;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .side-title.ad {
  justify-content: center;
  font-weight: 400;
  border-bottom: none;
  margin-bottom: 0;
  color: #6A7282;
  padding: 28px 0 13px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  text-decoration: none;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-thumb {
  width: 65px;
  height: 65px;
  border: 1px solid #D1D5DC;
  margin-right: 12px;
  flex-shrink: 0;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-contents {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-contents .main-title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #101828;
  text-decoration: none;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-contents .tag {
  font-size: 10px;
  line-height: 1;
  color: #E7000B;
  background-color: #F8F9FA;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-contents .subject {
  font-size: 9px;
  line-height: 1;
  color: #6A7282;
  background-color: #F8F9FA;
  font-weight: 400;
  margin-top: 6px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .listing-block .listing-contents .time {
  color: #6A7282;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 2px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates {
  background: #DBEDFF;
  padding: 0px 20px 20px;
  border-top: 2px solid rgba(21, 93, 252, 0.302);
  border-bottom: 2px solid rgba(21, 93, 252, 0.302);
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .live-updates-title {
  font-size: 12px;
  line-height: 1;
  color: #1C398E;
  font-weight: 700;
  margin: 36px 0 16px;
  padding-bottom: 9px;
  border-bottom: 1px solid #D1D5DC;
  text-transform: uppercase;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .live-updates-title::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #D70013;
  border: 0.5px solid #FF253A;
  border-radius: 50%;
  margin-right: 8px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .live-updates-title .read-time {
  color: #6A7282;
  display: block;
  text-transform: none;
  font-weight: 400;
  margin-top: 5px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .listing-block {
  margin-bottom: 12px;
  border-bottom: 1px solid #E5E7EB;
  padding-bottom: 12px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .listing-block:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .listing-thumb {
  width: 80px;
  height: 80px;
  border: 1px solid #D1D5DC;
  margin-right: 12px;
  flex-shrink: 0;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.live-updates .listing-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .ad-holder {
  border: 1px solid #D1D5DC;
  padding: 2px 5px;
  background-color: #F3F4F6;
  border-radius: 8px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks .ad-holder img {
  max-width: 100%;
  max-height: 587px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.editors-pick .listing-block .listing-contents {
  border-left: 2px solid #D1D5DC;
  padding-left: 15px;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.editors-pick .listing-block .listing-contents .main-title {
  text-decoration: none;
}
.page-outer .headline-top-wrapper .side-updates .vertical-listing-blocks.editors-pick .btn-wrap {
  border-top: 1px solid #D1D5DC;
  padding-top: 19px;
}
.page-outer .cta-section {
  width: 100%;
  padding: 58px 0 40px;
}
.page-outer .cta-section .cta-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .page-outer .cta-section .cta-container {
    flex-direction: column;
  }
}
.page-outer .cta-section .cta-box {
  flex: 1;
  border: 1px solid #D1D5DC;
  padding: 33px 20px 50px;
  text-align: center;
}
.page-outer .cta-section .cta-box .icon {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}
.page-outer .cta-section .cta-box h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}
.page-outer .cta-section .cta-box p {
  font-size: 14px;
  line-height: 22px;
  color: #4A5565;
  margin-bottom: 20px;
}
.page-outer .cta-section .cta-box .btn-primary {
  background: #101828;
  height: 40px;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.page-outer .cta-section .cta-box .btn-primary:hover {
  background: #000;
}
.page-outer .cta-section .cta-box.newsletter .input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.page-outer .cta-section .cta-box.newsletter .input-group input {
  padding: 10px;
  border: 1px solid #D1D5DC;
  width: 260px;
  height: 42px;
}
.page-outer .cta-section .cta-box.newsletter .input-group input::-moz-placeholder {
  color: rgba(26, 26, 26, 0.5019607843);
}
.page-outer .cta-section .cta-box.newsletter .input-group input::placeholder {
  color: rgba(26, 26, 26, 0.5019607843);
}
.page-outer .cta-section .cta-box.newsletter .input-group input {
  color: #364153;
}
.page-outer .cta-section .cta-box.newsletter .input-group input:focus {
  outline: none;
  border-color: #1c2431;
}
.page-outer .cta-section .cta-box.newsletter .input-group button {
  white-space: nowrap;
  height: 42px;
  margin-right: 0;
}
.page-outer .follow-section {
  padding: 49px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid #D1D5DC;
}
.page-outer .follow-section .main-title {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #1A1A1A;
}
.page-outer .follow-section .social-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .page-outer .follow-section .social-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .page-outer .follow-section .social-grid {
    grid-template-columns: 1fr;
  }
}
.page-outer .follow-section .social-card {
  border: 1px solid #D1D5DC;
  padding: 24px 10px;
  transition: 0.3s;
  cursor: pointer;
}
.page-outer .follow-section .social-card:hover {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.page-outer .follow-section .social-card .icon img {
  height: 24px;
}
.page-outer .follow-section .social-card .icon {
  margin-bottom: 12px;
}
.page-outer .follow-section .social-card h4 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #222;
}
.page-outer .follow-section .social-card span {
  font-size: 12px;
  color: #6A7282;
}/*# sourceMappingURL=home.css.map */