
$primary: #101828;
$secondary: #2891FC;
$titleColor:#1A1A1A;
$desc-txt:#364153;
$columnTitleColor:#6A7282;
$sideTitleColor:#1C398E;


// transparent colors
$light_bg_blue: #DBEDFF;
$lightBorderColor: rgba(21, 93, 252, 0.302);
$white: #ffffff;
$black: #000; // for dark mode flip
$red:#FF3434;
$tabTxtColor:#424242;
$tabActiveTxtColor:#1A1A1A;
$tabActiveBorder:#155DFC;


// fonts
$font_title: "Playfair Display", serif;
$font_txt: "Inter", sans-serif;

 