@import 'partials';

.page-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    .headline-top-wrapper {
        width: 100%;
        display: flex;

        .report-left {
            flex: 1;
            max-width: calc(100% - 342px);
            padding-right: 46px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .top-listings {
                display: flex;
            }

            .link-wrap {
                text-decoration: none;
            }

            .main-column-container {
                display: flex;
                flex-direction: column;
                border-right: 1px solid #D1D5DC;
                padding-right: 32px;
                margin-right: 32px;
                // max-width: 555px;
                max-width: 56%;

                .main-columns {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid #D1D5DC;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: none;
                    }

                }

                .main-thumb {
                    width: 100%;
                    margin-bottom: 16px;
                    max-width: 555px;
                    border: 1px solid #D1D5DC;

                    img {
                        width: 100%;
                        max-height: 312px;
                    }
                }

                .main-title {
                    margin-bottom: 16px;
                }

                .author-info-bottom {
                    display: flex;
                    align-items: center;
                    margin-top: 47px;
                    font-size: 12px;
                    color: $desc-txt;
                    padding-bottom: 30px;

                    .dot-spacing {
                        width: 1.5px;
                        height: 1.5px;
                        background-color: $desc-txt;
                        border-radius: 50%;
                        margin: 0 12px;
                        display: inline-block;
                    }

                    .author-info {}

                    .publish-date {}

                    .read-time {}
                }

            }

            .side-colum-listing {
                display: flex;
                flex-direction: column;

                .link-wrap {
                    text-decoration: none;
                }

                .side-column-item {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 21px;
                    border-bottom: 1px solid #D1D5DC;
                    padding-bottom: 21px;
                    text-decoration: none;

                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: none;
                    }

                    .column-title {
                        margin-bottom: 8px;
                    }

                    .side-column-thumb {
                        width: 100%;
                        height: auto;
                        max-height: 188px;
                        margin-bottom: 19px;
                        border: 1px solid #D1D5DC;

                        img {
                            width: 100%;
                            max-height: 188px;
                        }
                    }

                    .side-column-contents {
                        .main-title {
                            font-size: 18px;
                            line-height: 21px;
                            margin-bottom: 8px;
                        }

                        .para-txt {
                            font-size: 12px;
                            line-height: 18px;
                            margin-bottom: 0px;
                            max-height: 36px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .author-info-bottom {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            line-height: 1;
                            color: $desc-txt;
                            margin-top: 8px;
                        }
                    }
                }
            }

            .tab-listing-wrapper {
                display: flex;
                flex-direction: column;
                padding-top: 50px;

                .sub-title {
                    margin-bottom: 40px;
                }

                .nav-pills {
                    &.custom-tab {
                        .nav-item {
                            margin-right: 40px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        .nav-link {
                            color: $tabTxtColor;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 1;
                            border-radius: 0;
                            padding-left: 0;
                            padding-right: 0;
                            padding-bottom: 11px;
                            transition: all 0.3s ease;
                            font-family: $font_title;

                            &.active,
                            &:hover {
                                background: transparent;
                                border-bottom: 1px solid $tabActiveBorder;
                                color: $titleColor;
                            }

                            &.active {
                                font-weight: 700;
                            }
                        }
                    }
                }

                .tab-pane {
                    .tab-listing-block {
                        padding-top: 30px;

                        .headline-row {
                            margin-bottom: 30px;
                            border-bottom: 1px solid #D1D5DC;

                            &:last-child {
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                        }

                        .main-columns {
                            display: flex;
                            flex-direction: column;
                            border-bottom: 1px solid #D1D5DC;
                            margin-bottom: 30px;

                            &:last-child {
                                margin-bottom: 0;
                                border-bottom: none;
                            }

                        }

                        .main-thumb {
                            width: 100%;
                            margin-bottom: 16px;

                            img {
                                width: 100%;
                                max-height: 312px;
                            }
                        }

                        .main-title {
                            margin-bottom: 16px;
                            font-size: 24px;
                            line-height: 34px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .para-txt {
                            font-size: 16px;
                            line-height: 27px;
                            color: $desc-txt;
                            max-height: 54px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .author-info-bottom {
                            display: flex;
                            align-items: center;
                            margin-top: 18px;
                            font-size: 12px;
                            color: $desc-txt;
                            padding-bottom: 30px;

                            .dot-spacing {
                                width: 1.5px;
                                height: 1.5px;
                                background-color: $desc-txt;
                                border-radius: 50%;
                                margin: 0 12px;
                                display: inline-block;
                            }
                        }

                        hr {
                            &.line {
                                margin-bottom: 34px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            .video-slider-wrapper {
                width: 100%;
                padding-top: 50px;

                .title-section {
                    border-top: 1px solid #D1D5DC;
                    display: flex;
                    align-items: center;
                    padding: 33px 0 24px;

                    .sub-title {
                        font-size: 20px;
                        line-height: 1;
                        margin-bottom: 8px;
                    }

                    .para-txt {
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 1;
                    }
                }

                .control {
                    margin-left: auto;
                    display: flex;
                    gap: 12px;
                    margin-right: 20px;

                    button {
                        width: 38px;
                        height: 38px;
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:hover {
                            background-color: $black;

                            img {
                                filter: brightness(20.5);
                            }
                        }

                        img {
                            max-width: 100%;
                            display: block;
                            transform: rotate(180deg);
                        }

                        &.prev-arrow {
                            img {
                                transform: rotate(-360deg);
                            }
                        }
                    }
                }

                .slider-sec {
                    border-top: 1px solid #D1D5DC;
                    padding-top: 17px;

                    .video-slider {
                        .slide {
                            padding-right: 23px;
                        }
                    }
                }

                .slide {
                    .main-columns {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #D1D5DC;
                        margin-bottom: 30px;

                        .play-btn {
                            width: 42px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #00000086;
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border: 1px solid #fff;
                            cursor: pointer;
                            filter: blur(1px);

                            .icon {
                                width: 13px;

                                img {
                                    max-width: 100%;
                                    display: block;
                                }
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                            border-bottom: none;
                        }

                    }

                    .main-thumb {
                        width: 100%;
                        margin-bottom: 12px;
                        border: 1px solid #D1D5DC;
                        position: relative;

                        img {
                            width: 100%;
                            max-height: 312px;
                        }
                    }

                    .main-title {
                        margin-bottom: 12px;
                        font-size: 16px;
                        line-height: 26px;
                    }

                    .author-info-bottom {
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 12px;
                        color: $desc-txt;
                        padding-bottom: 30px;
                    }
                }
            }

            .sponsered-outer-wrapper {
                background: linear-gradient(135deg, #EFF6FF 0%, rgba(248, 250, 252, 0.5) 50%, rgba(238, 242, 255, 0.4) 100%);
                border-top: 2px solid #155DFC4D;
                border-bottom: 2px solid #155DFC4D;
                padding: 50px 24px;

                .title-section {
                    display: flex;
                    border-bottom: 2px solid #1447E680;
                    padding-bottom: 22px;

                    .left-sec {
                        display: flex;
                        flex-direction: column;

                        .sub-title {
                            font-size: 20px;
                            line-height: 1;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-family: $font-txt;
                            color: #1C398E;
                            border-left: 6px solid #155DFC;
                            padding-left: 12px;
                            margin-bottom: 8px;
                        }

                        .para-txt {
                            padding-left: 20px;
                            line-height: 1;
                            color: #193CB8CC;
                            font-size: 11px;
                            margin-bottom: 0;
                        }
                    }

                    .ad-btn {
                        margin-left: auto;
                        background-color: #DBEAFE;
                        border-radius: 6px;
                        padding: 12px 6px;
                        width: 136px;
                        height: 29px;
                        font-size: 12px;
                        font-weight: 700;
                        color: #1C398E;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            img {
                                width: 14px;
                            }

                            margin-right: 8px;
                        }
                    }
                }

                .sponsor-listing-warpper {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 36px;
                    justify-content: space-between;
                    margin-left: -15px;
                    margin-right: -15px;

                    .sponsor-listing {
                        width: calc((100% / 3) - 30px);
                        margin: 0 15px;
                        background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 246, 255, 0.2) 100%);
                        border: 2px solid #BEDBFF;

                        .thumb-wrapper {
                            height: 184px;
                            width: 100%;
                            position: relative;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .badge {
                                background-color: #155DFC;
                                color: $white;
                                font-size: 10px;
                                font-weight: 700;
                                text-transform: uppercase;
                                box-shadow: 0px 2px 4px -2px #0000001A;
                                box-shadow: 0px 4px 6px -1px #0000001A;
                                border-radius: 0;
                                padding: 6px 12px;
                                position: absolute;
                                left: 12px;
                                top: 12px;
                            }
                        }

                        .btm-content {
                            padding: 24px;
                        }

                        .content-area {
                            .tag {
                                color: #1447E6;
                                font-size: 12px;
                                text-transform: uppercase;
                                font-weight: 700;
                                margin-bottom: 12px;
                            }

                            .main-title {
                                color: $titleColor;
                                font-size: 20px;
                                line-height: 25px;
                                word-break: break-word;
                                margin: 12px 0 16px;
                            }
                        }

                        .bottom-sec {
                            display: flex;
                            border-top: 2px solid #DBEAFE;
                            padding-top: 18px;

                            .left-content {
                                flex: 1;

                                .para-txt {
                                    color: #1447E6CC;
                                    margin-bottom: 5px;
                                    line-height: 1;
                                    font-size: 10px;
                                    font-weight: 500;
                                }

                                .sub-title {
                                    color: #1C398E;
                                    font-size: 14px;
                                    line-height: 1;
                                    font-weight: 700;
                                    font-family: $font_txt;
                                }
                            }

                            .sec-link {
                                margin-left: 10px;

                                img {
                                    width: 18px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .side-updates {
            width: 342px;

            .vertical-listing-blocks {
                display: flex;
                flex-direction: column;
                border-top: 1px solid #D1D5DC;
                margin-bottom: 13px;

                &.ad-block {
                    margin: 40px 0 20px;
                }

                .side-title {
                    font-size: 12px;
                    line-height: 1;
                    border-bottom: 1px solid #D1D5DC;
                    padding: 25px 0 8px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: $titleColor;
                    font-weight: 700;
                    display: flex;
                    align-items: center;

                    .icon {
                        display: inline-block;
                        width: 15px;
                        margin-right: 9px;

                        img {
                            max-width: 15px;
                            display: block;
                        }
                    }

                    &.ad {
                        justify-content: center;
                        font-weight: 400;
                        border-bottom: none;
                        margin-bottom: 0;
                        color: $columnTitleColor;
                        padding: 28px 0 13px;
                    }
                }

                .listing-block {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 16px;
                    text-decoration: none;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: 0;
                    }

                    .listing-thumb {
                        width: 65px;
                        height: 65px;
                        border: 1px solid #D1D5DC;
                        margin-right: 12px;
                        flex-shrink: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .listing-contents {
                        flex: 1;
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;

                        .main-title {
                            font-size: 14px;
                            line-height: 19px;
                            font-weight: 500;
                            margin-bottom: 0px;
                            color: $primary;
                            text-decoration: none;
                        }

                        .tag {
                            font-size: 10px;
                            line-height: 1;
                            color: #E7000B;
                            background-color: #F8F9FA;
                            font-weight: 700;
                            margin-bottom: 4px;
                            text-transform: uppercase;
                        }

                        .subject {
                            font-size: 9px;
                            line-height: 1;
                            color: $columnTitleColor;
                            background-color: #F8F9FA;
                            font-weight: 400;
                            margin-top: 6px;
                            text-transform: uppercase;
                            letter-spacing: 0.22px;

                        }

                        .time {
                            color: $columnTitleColor;
                            font-size: 10px;
                            line-height: 1;
                            font-weight: 500;
                            margin-bottom: 2px;
                        }
                    }
                }

                &.live-updates {
                    background: $light_bg_blue;
                    padding: 0px 20px 20px;
                    border-top: 2px solid $lightBorderColor;
                    border-bottom: 2px solid $lightBorderColor;

                    .live-updates-title {
                        font-size: 12px;
                        line-height: 1;
                        color: $sideTitleColor;
                        font-weight: 700;
                        margin: 36px 0 16px;
                        padding-bottom: 9px;
                        border-bottom: 1px solid #D1D5DC;
                        text-transform: uppercase;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background-color: #D70013;
                            border: 0.5px solid #FF253A;
                            border-radius: 50%;
                            margin-right: 8px;
                        }

                        .read-time {
                            color: $columnTitleColor;
                            display: block;
                            text-transform: none;
                            font-weight: 400;
                            margin-top: 5px;
                        }
                    }

                    .listing-block {
                        margin-bottom: 12px;
                        border-bottom: 1px solid #E5E7EB;
                        padding-bottom: 12px;

                        &:last-child {
                            margin-bottom: 0;
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }

                    .listing-thumb {
                        width: 80px;
                        height: 80px;
                        border: 1px solid #D1D5DC;
                        margin-right: 12px;
                        flex-shrink: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .ad-holder {
                    border: 1px solid #D1D5DC;
                    padding: 2px 5px;
                    background-color: #F3F4F6;
                    border-radius: 8px;

                    img {
                        max-width: 100%;
                        max-height: 587px;
                    }
                }

                &.editors-pick {
                    .listing-block {
                        .listing-contents {
                            border-left: 2px solid #D1D5DC;
                            padding-left: 15px;

                            .main-title {
                                text-decoration: none;
                            }
                        }
                    }

                    .btn-wrap {
                        border-top: 1px solid #D1D5DC;
                        padding-top: 19px;
                    }

                }
            }
        }
    }
    .cta-section {
                width: 100%;
                padding: 58px 0 40px;

                .cta-container {
                    display: flex;
                    gap: 20px;

                    @media (max-width: 768px) {
                        flex-direction: column;
                    }
                }

                .cta-box {
                    flex: 1;
                    border: 1px solid #D1D5DC;
                    padding: 33px 20px 50px;
                    text-align: center;

                    .icon {
                        font-size: 28px;
                        margin-bottom: 10px;
                        color: #333;
                    }

                    h3 {
                        font-size: 24px;
                        margin-bottom: 8px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 14px;
                        line-height: 22px;
                        color: #4A5565;
                        margin-bottom: 20px;
                    }

                    .btn-primary {
                        background: #101828;
                        height: 40px;
                        color: #fff;
                        border: none;
                        padding: 10px 30px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;

                        &:hover {
                            background: #000;
                        }
                    }

                    &.newsletter {
                        .input-group {
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                            margin: 0 auto;

                            input {
                                padding: 10px;
                                border: 1px solid #D1D5DC;
                                width: 260px;
                                height: 42px;

                                &::placeholder {
                                    color: #1A1A1A80;
                                }

                                color: $desc-txt;

                                &:focus {
                                    outline: none;
                                    border-color: #1c2431;
                                }
                            }

                            button {
                                white-space: nowrap;
                                height: 42px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .follow-section {
                padding: 49px 0;
                text-align: center;
                width: 100%;
                border-top: 1px solid #D1D5DC;



                .main-title{
                    font-size: 33px;
                    font-weight: 600;
                    margin-bottom: 32px;
                    color: $titleColor;
                }

                .social-grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 20px;

                    @media (max-width: 768px) {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @media (max-width: 480px) {
                        grid-template-columns: 1fr;
                    }
                }

                .social-card {
                    border: 1px solid #D1D5DC;
                    padding: 24px 10px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background: #fff;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
                    }

                    .icon {
                        img{
                            height: 24px;
                        }
                        margin-bottom: 12px;

                    }

                    h4 {
                        font-size: 14px;
                        margin-bottom: 5px;
                        font-weight: 500;
                        color: #222;
                    }

                    span {
                        font-size: 12px;
                        color: #6A7282;
                    }
                }
            }
}