.back-section {
    margin-bottom: 17px;

    a {
        color: #4A5565 !important;
        text-decoration: none !important;
        display: flex;
        align-items: center;

        img {
            margin-right: 5px;
        }

    }

}

.hr-cls {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-otr.text-center {
    margin-bottom: 50px;
    margin-top: 35px;
}

.security-black {
    background-color: #101828;
    border: 1px solid #7a7373;
    color: #FFFFFF;
    font-size: 15px;
    position: absolute;
    right: 14px;
    top: 17px;
    height: 43px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 0;
    line-height: 30px;
}

button.btn.btn-live {
    border: 2.5px solid #101828;
    margin-top: 9px;
    height: 57px;
    padding: 5px 45px;
    font-weight: 500;
    border-radius: 0px;
    font-size: 17px;
}

.live-detail {
    .main-blog-detail {
        .image-detail {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom:0px;
                width: 100%;
                height: 35%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
            }

            img {
                height: 450px;
                width: 100%;
                object-fit: cover;
            }
        }

        .image-bottom {
            margin-top: 46px;
            margin-bottom: 40px;
        }

        .live-news-wrapper {
            .live-title {
                color: #1A1A1A;
                font-size: 36px;
                margin-top: 21px;
            }

            .post-detail-section {
                margin-top: 30px;

                p {
                    font-size: 18px;
                    margin-bottom: 24px;
                    margin-top: 15px;
                    color: #101828;
                }
            }

            hr {
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .btn-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .live-sec-cont {
                    font-weight: 400;
                    color: #4A5565;
                    margin-bottom: 9px;
                    font-size: 14px;
                }


            }
        }
    }
}
.update-time {
     font-weight: 500;
    position: absolute;
    bottom: 31px;
    color: #fff;
    left: 32px;
    font-size: 15px;
}

.btn-red-live {
    background-color: #E7000B !important;
    color: #FFFFFF !important;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 30px;
    left: 30px;
    border-radius: 0;
    padding: 5px 20px 5px 28px;
    height: 43px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;

}

.btn-red-live.btn-dot::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50px;
    top: 16px;
    left: 12px;
}

button.btn.btn-red-sub {
    background-color: #E7000B;
    color: #FFFFFF;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 17px;
    left: 12px;
    border-radius: 0;
    padding: 5px 15px 5px;
    height: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.trending-articles {
    margin-top: 50px;

    .trending-heading {
        border-bottom: 2px solid #D1D5DC;
        margin-bottom: 44px;
        padding-bottom: 18px;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        color: #1A1A1A;
    }

    h3 {
        color: #4A5565;
        font-size: 16px;
        font-weight: 300;
    }

    .trending-outer-row {
        display: flex;
        flex-wrap: wrap;

        a {
            text-decoration: none !important;
        }

        .trending-wrapper {
            width: 30%;
            margin-bottom: 24px;
            margin-right: 40px;

            .img-wrp {
                position: relative;

                img {
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h4.categ-text {
                color: #6A7282;
                font-size: 14px;
                margin-top: 18px;
                margin-bottom: 8px;
            }

            .post-title {
                color: #1A1A1A;
                font-size: 19px;
                margin-bottom: 2px;
            }

            .time-section {
                .time {
                    color: #6A7282;
                    font-size: 13px;
                }
            }
        }
    }
}